.idea/
.DS_Store
**/.DS_Store
public/images/renders/_raw/
00.unsorted/
dist/**
design/catalog/
node_modules/
!dist/**/
!dist/.nojekyll
!dist/CNAME
!dist/**/*.css
!dist/**/*.html
!dist/**/*.js
!dist/**/*.json
!dist/**/*.mjs
!dist/**/*.spw
!dist/**/*.svg
!dist/**/*.txt
!dist/**/*.webmanifest
!dist/**/*.xml
