:root {
    --header-height: 4rem;
}
html, body {
    background-color: wheat;
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'JetBrains Mono', monospace;
}
body {
    margin-bottom: var(--header-height);
}
body > header {
    color: white;
    font-weight: bold;
    height: var(--header-height);
    top: 0;
    width: 100%;
    text-align: center;
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
body > header ul {
    display: inline-flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}
body > header ul li {
    margin: 0 1rem;
}
body > header ul li a {
    color: white;
    text-decoration: none;
    padding: 1rem;
}
body > header ul li a[aria-current="page"] {
    background-color: hsl(180, 100%, 15%);
}
body > header ul li a:hover {
    background-color: hsl(180, 100%, 10%);
}
h1 {
    text-align: center;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
}
main > ul {
    list-style: none;
    padding: 0;
    text-align: center;
}
main > ul > li {
    padding: .5rem 0;
}
main > figure {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main > figure img {
    width: 100%;
}
main > figure .overlay img {
    position: absolute;
    top: 0;
    left: 0;
}
main > figure .overlay img:nth-child(1) { animation: oscillateVisibility 1.5s 0s infinite; }
main > figure .overlay img:nth-child(2) { animation: oscillateVisibility 1.5s .3s infinite; }
main > figure .overlay img:nth-child(3) { animation: oscillateVisibility 1.5s .6s infinite; }
main > figure .overlay img:nth-child(4) { animation: oscillateVisibility 1.5s 1.2s infinite; }
main > figure .overlay img:nth-child(5) { animation: oscillateVisibility 1.5s 1.5s infinite; }
body > footer {
    color: white;
    margin: 0;
    font-weight: bold;
    position: fixed;
    height: var(--header-height);
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: teal;
}

/* keyframe oscillate between opacity periodic */
@keyframes oscillateVisibility {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}